h3 {
    background-color: orange;
    color: #000;
    font-weight: bold;
    text-align: center;
}

.odd {
    background-color: pink;
    color: #000;
}

.even {
    background-color: yellow;
    color: red;
}

.active {
    font-weight: 600;
}
